@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

body {
  font-family: poppins;
  background-color: white;
  margin: 0;
}

/* Generic */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #3d7e44;
  height: 90px;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    color: white;
    font-weight: 900;
  }

  &-right {
    width: 10%;
    justify-content: space-between;
    display: flex;
  }
}
.circularProgress {
  padding-top: 10%;
  align-items:center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 3em;
  padding-top: 118px;
  border-radius: 1em;

  h1 {
    text-align: center;

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: green;
    }
  }

  &__subtitle {
    width: 100%;
    display: flex;
    justify-content: center;

    &-text {
      margin-top: 1em;
      width: 60%;
      min-width: 27em;
      text-align: justify;

      a {
        color: green;
        font-weight: 500;

        &:hover {
          color: rgb(21, 94, 17);
          font-weight: 500;
        }
      }
    }
  }

  .back-button {
    cursor: pointer;
    font-weight: 900;
    display: flex;
    align-items: center;
    font-weight: 500;

    svg {
      margin-right: 0.8em;
    }
  }

  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .error {
    width: 50%;
    margin: 1em;
  }
}

.hidden {
  display: none;
}

/* Map */
.leaflet-container {
  height: 400px;
  width: 100%;
  z-index: 99;
  margin-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.leaflet-draw-tooltip {
  background: rgba(255, 255, 255, 0.5);
}

.leaflet-draw-tooltip span {
  color: black;
}

/* Login */
.login_form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login_form .form-row {
  height: 2em;
  margin: 0.5em !important;
}

.alert {
  margin-bottom: 1em;
  margin-top: 1em;
}

.hide {
  display: none;
}

/* Task */

.task {
  &-header {
    width: 100%;

    &__card {
      display: flex;
      justify-content: center;
      height: 200px;

      &-left {
        width: 20%;
        min-width: 200px;
        max-height: 200px;

        &-image {
          height: 100%;
          overflow: hidden;
          border-radius: 1em;
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        min-width: 300px;
        padding: 1em;

        &-title {
          margin-bottom: 1em;
        }

        &-content {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }
    }
  }

  &-submit {
    cursor: pointer;
    width: 100%;
    height: 3em;
    background-color: #3d7e44;
    border-radius: 4px;
    line-height: 1.15;
    color: white;
    font-weight: 900;
    -webkit-appearance: none;

    &:hover {
      background-color: #26572b;
    }
  }
}

// Submission

.submission-header {
  display: flex;
  justify-content: center;

  &__image {
    display: flex;
    margin-right: 1em;
  }
}

.submission-text {
  margin-top: 1em;
  text-align: center;

  a {
    color: green;
    font-weight: 500;
  }

  a:hover {
    color: red;
  }
}

