@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

body {
  font-family: poppins;
  background-color: white;
  margin: 0;
}

/* Generic */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #3d7e44;
  height: 90px;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    color: white;
    font-weight: 900;
  }

  &-right {
    width: 10%;
    justify-content: space-between;
    display: flex;
  }
}
.circularProgress {
  padding-top: 10%;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 3em;
  padding-top: 118px;
  border-radius: 1em;
  padding-bottom: 0em;

  h1 {
    text-align: center;

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: green;
    }
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    padding-bottom: 2em;
  }

  &__subtitle {
    width: 100%;
    display: flex;
    justify-content: center;

    &-text {
      margin-top: 1em;
      width: 60%;
      min-width: 27em;
      text-align: justify;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: green;
        font-weight: 500;

        &:hover {
          color: rgb(21, 94, 17);
          font-weight: 500;
        }
      }
    }
  }

  .back-button {
    cursor: pointer;
    font-weight: 900;
    display: flex;
    align-items: center;
    font-weight: 500;

    svg {
      margin-right: 0.8em;
    }
  }

  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .error {
    width: 50%;
    margin: 1em;
  }
}

.success svg path {
  color: #3d7e44;
}

.failed svg path {
  color: rgba(156, 24, 24, 0.578) !important;
}

.forgotten-password {
  display: flex;
  justify-content: flex-end;

  & a {
    font-size: 0.8em;
    &:hover {
      color: green;
      font-weight: 700;
    }
  }
}

.hidden {
  display: none;
}

.button {
  &__hover:hover {
    background-color: rgb(21, 94, 17);
    color: white;
  }
}

.selected {
  font-weight: 500;
}

input[type="radio"]:checked:after {
  // Make the checked icon blue
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background: #3d7e44;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* Map */
.leaflet-container {
  height: 400px;
  width: 100%;
  z-index: 99;
  margin-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.leaflet-draw-tooltip {
  background: rgba(255, 255, 255, 0.5);
}

.leaflet-draw-tooltip span {
  color: black;
}

/* Login */
.login_form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login_form .form-row {
  height: 2em;
  margin: 0.5em !important;
  padding-top: 0;
}

.alert {
  margin-bottom: 1em;
  margin-top: 1em;
}

.hide {
  display: none;
}

/* Task */

.task {
  &-icon {
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:1em;
    cursor: pointer;
  }

  &-header {
    width: 100%;

    &__card {
      display: flex;
      justify-content: center;
      height: 200px;

      &-left {
        width: 20%;
        min-width: 200px;
        max-height: 200px;

        &-image {
          height: 100%;
          overflow: hidden;
          border-radius: 1em;
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        min-width: 300px;
        padding: 1em;

        &-title {
          margin-bottom: 1em;
        }

        &-content {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }
    }
  }

  &-submit {
    cursor: pointer;
    width: 100%;
    height: 3em;
    background-color: #3d7e44;
    border-radius: 4px;
    line-height: 1.15;
    color: white;
    font-weight: 900;
    -webkit-appearance: none;
    margin-left:2em;

    &:hover {
      background-color: #26572b;
    }
  }
}

.aoi-label-container {
  display:flex;
  align-items:center;
}

// Submission

.submission-header {
  display: flex;
  justify-content: center;

  &__image {
    display: flex;
    margin-right: 1em;
  }
}

.submission-text {
  margin-top: 1em;
  text-align: center;

  a {
    color: green;
    font-weight: 500;
  }

  a:hover {
    color: red;
  }
}

// Queue

.results-table {
  max-height: 500px;
  width: 100%;
}

.results-row-container {
  overflow-y: scroll;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.downloading {
  &__info {
    margin-bottom: 2em;
  }

  &__progress {
    margin-right: 15%;
  }

  &__container {
    display: flex;
    align-items: flex-end;
  }

  &__list {
    margin-top: 1em;
    list-style: none;

    &-header {
      list-style: none;
      font-weight: 900;
    }

    &-item {
      padding: 0.5em;
      border: 1px solid #3d7e4346;
      border-radius: 5px;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
      box-shadow: rgba(0, 0, 0, 0.181) 0px 3px 3px;
    }
  }
}

.error {
  &-bar {
    margin-top:5em;
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items: flex-end;
  }

  &-text {
    width:30%;

    & input {
      width:10%;
      min-width:10em;

      &:hover {
        background-color:#3d7e4360;
      }

    }
  }
}

// Test Page

.test {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;

  &-item {
    display: flex;
    width: 100%;
    max-width: 60em;
    margin-right: 1em;
    margin-left: 1em;
    flex-direction: column;
    margin-bottom: 3em;

    border: 1px solid #3d7e4346;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.181) 0px 3px 3px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.181) 0px 3px 3px;
      background-color: #1f742716;
    }

    &-top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid #3d7e4346;
      border-radius: 5px;

      &-col {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;

        &__small {
          width: 10%;
          padding: 2em;
        }
      }

      &__run {
        width: 100%;
      }

      &__history {
        width: 100%;
      }

      &__button {
        width: 100%;
        cursor: pointer;
        min-height: 3em;
        background-color: #3d7e44;
        border-radius: 4px;
        line-height: 1.15;
        color: white;
        font-weight: 500;
        -webkit-appearance: none;

        &:hover {
          background-color: #26572b;
        }
      }
    }

    &-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border-bottom: 0.5px solid #3d7e4346;

        &:hover {
          background-color: #1f742716;
        }
      }

      &-col {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;

        &__small {
          width: 10%;
          padding: 1em;
        }
      }
    }
  }
}

.running {
  // Animate background color change

  animation: colorframes 3s ease-in-out infinite;

  @keyframes colorframes {
    0% {
      background-color: #1f7427c0;
    }
    50% {
      background-color: #246f2bdc;
    }
    100% {
      background-color: #1a8625db;
    }
  }

  & a {
    color: white;
  }
}

// Footer

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-top: 5em;
}

footer .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .wrapper ul {
  width: 80%;
  display: flex;
  // no bullet points
  list-style: none;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 1em;
  font-weight: 600;
  color: #4a4a4a;

  // border at the top
  border-top: 7px solid #e6e6e66f;

  & li:hover a {
    color: green;
  }

  & li:hover a strong {
    color: green;
  }
}
