html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-family: poppins;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#header {
  background: #3d7e44;
  position: fixed;
  width: 100%;
  height: 84px;
  z-index: 100;
}

#header,
#header * {
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#header .wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left:6%;
  margin-right:6%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

#header .logo {
  width: 100px;
  margin: 5px 0 13px;
}

#header .logo a,
#header .logo a img {
  width: 100%;
}

#header .logo #logo-front {
  display: none;
}

#header .logo #logo-all {
  display: block;
}

#header #menu nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

#header #menu nav > ul li {
  min-width: 116px;
  padding: 0 15px;
  padding-top: 18px;
  position: relative;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

#header #menu nav > ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.5);
}

#header #menu nav > ul li:before {
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#header #menu nav > ul li:hover:before {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media screen and (max-width: 900px) {
  #header #menu nav > ul li {
    padding-top: 10px;
  }
}

#header #menu nav > ul li:not(:last-child) {
  margin-right: 45px;
}

#header #menu nav > ul li a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

#header #menu nav > ul li.active:before {
  background: #fff;
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#header #menu nav > ul li ul {
  position: absolute;
  display: none;
  left: -190px;
  top: 35px;
  min-width: 330px;
  opacity: 0;
  margin-bottom: 0;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

#header #menu nav > ul li ul li {
  padding-bottom: 13px;
  position: relative;
  position: relative;
  margin-right: 0 !important;
}

#header #menu nav > ul li ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.5);
}

#header #menu nav > ul li ul li:after {
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#header #menu nav > ul li ul li:hover:after {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#header #menu nav > ul li ul li:before {
  display: none;
}

#header #menu nav > ul li ul li:first-child {
  display: block;
}

#header #menu nav > ul li ul li.active:after {
  background: #fff;
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#header #menu nav > ul li ul li a {
  font-size: 16px;
  text-transform: none;
}

#header #menu nav > ul li.parent.active ul,
#header #menu nav > ul li.parent:hover ul {
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

#header #burger {
  display: none;
  position: relative;
  width: 38px;
  cursor: pointer;
  margin-right: 20px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

#header #burger span {
  width: 100%;
  height: 4.5px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 900px) {
  #header #menu nav li:first-child {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #header #menu nav > ul li:not(:last-child) {
    margin-right: 5px;
  }
}

@media screen and (max-width: 900px) {
  #header #menu {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background: #fff;
    padding: 60px 0 0 20px;
    opacity: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  #header #menu nav > ul {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  #header #menu nav > ul li {
    min-width: auto;
    margin: 0 0 30px 0;
    padding-top: 18px;
    position: relative;
    position: relative;
  }
  #header #menu nav > ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: rgba(61, 126, 68, 0.5);
  }
  #header #menu nav > ul li:before {
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  #header #menu nav > ul li:hover:before {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

